extends layout 
block content 
    body 
        h2 #{item.crypto}
            h3
            #{val.price} Current Price 
            |
            |
            #{val.monthchange} 30 day price difference 
            |
            |
            #{val.volchange} 24 hour Volume difference 