doctype html
html(lang="en")
    head    
        title = "Crypto Tracker"
    body 

        h1 CryptoTracker 

        block content 
    style 
        include ../../public/styles.css
    block footer
        div.otherfooter
            a(href='/main') Home 
            |
            |
            a(href='/search') Search
//-Kevin
