doctype html
html(lang="en")
    head         
        title = "CryptoTracker"
    body 

        h1 CryptoTracker 

        block content 

    block footer 

        a(href='/') Home 
        |
        |
        a(href='/search') Search
