extends layout
block content
    style 
        include ../../public/styles.css
    h3 Main Page
    div.parent
        each crypto in cryptos
            div.class
                h2.title $#{crypto['_id']}
                div.content
                    p Price : #{crypto['info']['price']}
                div.content
                    p 24h Price Change: #{crypto['info']['priceChange24h']}
                div.content
                    p Vol Change: #{crypto['info']['volChange']}