extends layout
block styles
    style 
        include ../../public/styles.css
block content
    h3 Main Page
    #cryptolist
    each crypto in cryptos
        p Coin #{crypto['_id']}
        p Price: #{crypto['info']['price']}
        p Price Change: #{crypto['info']['priceChange24h']}
        p Vol Change: #{crypto['info']['volChange']}
        |