extends layout 
block content 
    style 
        include ../../public/styles.css
    div.page
        form(method="POST")
            |Username: 
            input(name="user" value="Enter your Username")
            br
            |Email: 
            input(name="email" value="sample@example.com")
            br
            |Password: 
            input(name="password" value="")
            br
            |Confirm password: 
            input(name="confirm" value="")
            br
            input(type="submit" value="Sign Up")
            input(type="reset" value="Clear")