h1 {
    color: skyblue;
    font-weight: bold;
    text-align: center;
}

.parent {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5em;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.content {
    height: min-content;
}

.page {
    position: relative;
    text-align: center;
}

.footer {
    position: absolute;
    width: 100%;
    text-align: center;
}

.otherfooter {
    display: flex;
    justify-content: center;
    gap: .5em;
}